Hello! Humba is here!
<br>
<%=msg%>
<br>
<button onclick = "location.href = '/team'">팀 정보 업데이트</button>
<br>
<button onclick = "location.href = '/player'">선수 정보 업데이트</button>
<br>
<button onclick = "location.href = '/schedule'">일정 업데이트</button>
